<div id="game-text">
	<!-- D20 -->
	<section class="container hide" id="cube-container">
		<div id="cube" class="show-1">
			<figure class="face01">1</figure>
			<figure class="face02">2</figure>
			<figure class="face03">3</figure>
			<figure class="face04">4</figure>
			<figure class="face05">5</figure>
			<figure class="face06">6</figure>
			<figure class="face07">7</figure>
			<figure class="face08">8</figure>
			<figure class="face09">9</figure>
			<figure class="face10">10</figure>
			<figure class="face11">11</figure>
			<figure class="face12">12</figure>
			<figure class="face13">13</figure>
			<figure class="face14">14</figure>
			<figure class="face15">15</figure>
			<figure class="face16">16</figure>
			<figure class="face17">17</figure>
			<figure class="face18">18</figure>
			<figure class="face19">19</figure>
			<figure class="face20">20</figure>
		</div>
	</section>
	<!-- TEXT -->
	<div class="container" id="text-container">
		<h1 class="spell-name" data-dice="">Greetings...</h1>
		<p class="spell-level"></p>
		<p class="lead spell-desc">
			<input type="text" name="username" value="" placeholder="Enter your name" maxlength="32" autofocus autocomplete="off" />
			<br />
			<br />
			<button id="join-btn">Join</button>
		</p>
	</div>
	<!--  -->
	<p class="container hide" id="tohit-container"><button class="disabled tohit">Roll To Hit</button></p>
	<p class="container hide" id="damage-container"><button class="disabled damage">Roll Damage</button></p>
	<p class="container hide" id="save-container"><button class="disabled save">Saving Throw</button></p>
	<p class="container hide" id="death-container"><button class="disabled death">Death Save</button></p>
	<!-- PLAY AGAIN -->
	<p class="container hide" id="reset-container">
		<button class="reset">Play Again</button>
	</p>
</div>

<div id="caster-container-2">
	@Html.Partial("Caster", new online_spell_game.Models.Caster()
	{
		num = 2,
		hp = 20,
		mana = 5,
		ac = 13
	})
</div>

<div id="caster-container-1">
	@Html.Partial("Caster", new online_spell_game.Models.Caster()
	{
		num = 1,
		hp = 20,
		mana = 5,
		ac = 13
	})
</div>

<div class="clear"></div>

<div id="caster-btns">
	@Html.Partial("ActionButtons")
</div>

<div id="spellbook">
	<img src="~/Content/Images/16517719.png" alt="" />
</div>
