<div id="game-text">
	<h1 class="spell-name" data-dice="">Greetings...</h1>
	<p class="spell-level"></p>
	<p class="lead spell-desc">
		<input type="text" name="username" value="" placeholder="Enter your name" maxlength="32" autofocus autocomplete="on" />
		<br />
		<br />
		<button id="join-btn">Join</button>
	</p>
	<p class="reset-container hide">
		<a href="#" class="btn reset btn-primary">Play Again</a>
	</p>
</div>

<div id="caster-container-2">
	@Html.Partial("Caster", new online_spell_game.Models.Caster()
	{
		num = 2,
		hp = 20,
		mana = 5,
		ac = 13
	})
</div>

<div id="caster-container-1">
	@Html.Partial("Caster", new online_spell_game.Models.Caster()
	{
		num = 1,
		hp = 20,
		mana = 5,
		ac = 13
	})
</div>

<div class="clear"></div>

<div id="caster-btns-1">
	@Html.Partial("ActionButtons")
</div>

<div id="caster-btns-2">
	@Html.Partial("ActionButtons")
</div>

<div id="spellbook">
	<img src="~/Content/Images/16517719.png" alt="" />
</div>
