@{
	string hp = "20";
	string mana = "5"; // TODO: pass in object of data to Caster partial
}

<div id="game-text">
	<h1 class="spell-name" data-dice="">Connecting...</h1>
	<p class="spell-level"></p>
	<p class="lead spell-desc">Choose a name.</p>

	<p class="reset-container hide">
		<a href="#" class="btn reset btn-primary">Play Again</a>
	</p>
</div>

<div id="caster-container-2">
	@Html.Partial("Caster", "2")
</div>

<div id="caster-container-1">
	@Html.Partial("Caster", "1")
</div>

<div class="clear"></div>

<div id="caster-btns-1">
	@Html.Partial("ActionButtons")
</div>

<div id="caster-btns-2">
	@Html.Partial("ActionButtons")
</div>

<div id="spellbook">
	<img src="~/Content/Images/16517719.png" alt="" />
</div>
