body {
	background-color: grey;
	background-image: url('Images/74698279.png');
	background-size: cover;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clear {
	clear:both;
}

.hide {
	display:none;
}

a.disabled {
	cursor:not-allowed;
	color:grey;
	text-decoration:none;
}

#game-text {
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #f6db92;
	border: 4px solid #85764d;
	border-radius: 4px;
	width: 400px;
	padding: 20px;
}

#caster-container-1 {
	float: left;
}

#caster-container-2 {
	float: right;
}

.caster {
	width: 480px;
}

.caster-photo {
	position: relative;
	z-index: 800;
	width:400px;
	margin:0 auto;
}

	#caster-2 .caster-photo {
		transform: scaleX(-1);
	}

.caster-label {
	background-color: #63401a;
	border: 6px solid #482e12;
	border-radius: 6px;
	margin-top: -50px;
	padding: 5px;
	position: relative;
	z-index: 900;
}

.caster-name {
	float:left;
	color:white;
	margin-left:25px;
}

	.caster-name h2 {
		padding:0;
		margin:0;
	}

#caster-btns-1 {
	position: absolute;
	z-index: 990;
	bottom: 0;
	width: 200px;
	height: 240px;
	left: 35%;
}

#caster-btns-2 {
	position: absolute;
	z-index: 990;
	bottom: 0;
	width: 200px;
	height: 240px;
	right: 35%;
}

#spellbook {
	position: absolute;
	z-index: 980;
	bottom: 0;
	width: 961px;
	left: 50%;
	transform: translate(-50%, 0);
}

/* SHIELD */
.caster-ac {
	width: 70px;
	font-family: Impact,Charcoal,sans-serif;
	height: 70px;
	display: block;
	float:left;
	margin:10px 0 0 5px;
	padding:15px 0 10px 0;
}

	.caster-ac span {
		display: block;
	}

.PajzsLeft {
	float: left;
	width: 0;
	border-left: 10px solid transparent;
	border-top: 60px solid #a57c18;
}

.PajzsMiddle {
	float: left;
	width: 50px;
	height: 50px;
	background-color: #a57c18;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	font-size: 36px;
}

.PajzsRight {
	float: left;
	width: 0;
	border-right: 10px solid transparent;
	border-top: 60px solid #a57c18;
}

.PajzsBottom {
	width: 0;
	height: 0;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	border-top: 10px solid #a57c18;
	clear: both;
	margin-left: 10px;
}

/* RESOURCE BARS */
.bar-container {
	float: left;
	height: 40px;
	margin-left: 10px;
}

.bar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	height: 30px;
	padding: 5px;
	background-color: #38240e;
	border-radius: 30px;
	position: relative;
	margin: 5px auto;
	float: left;
}

.bar-inner {
	width: 100%;
	height: 20px;
	position: relative;
	border-radius:30px;
	transition: width .5s linear;
}

	.health-bar .bar-inner {
		background-color: #7c2727;
	}

	.mana-bar .bar-inner {
		background-color: #2d5b8e;
	}

.bar-number {
	display: inline-block;
	color: white;
	font-size: 24px;
	padding: 3px 0 0 7px;
}

.hit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0px;
	transition: width .5s linear;
	border-radius:0 30px 30px 0;
}

	.health-bar .hit {
		background: #f16c6c;
	}

	.mana-bar .hit {
		background: #6e9ed2;
	}
