<div class="well action-btns">
    <p><a href="#" class="btn btn-default disabled cast">Cast Random Spell</a></p>
    <p><a href="#" class="btn btn-default disabled tohit">Roll To Hit</a></p>
    <p><a href="#" class="btn btn-default disabled damage">Roll Damage</a></p>
    <p><a href="#" class="btn btn-default disabled save">Saving Throw</a></p>
    <p><a href="#" class="btn btn-default disabled death">Death Save</a></p>
</div>