<div class="well action-btns">
	<p><a href="#" class="btn btn-default disabled cast" data-spell="Acid Splash" data-cost="1">Acid Splash</a></p>
	<p><a href="#" class="btn btn-default disabled cast" data-spell="Fire Bolt" data-cost="2">Fire Bolt</a></p>
	<p><a href="#" class="btn btn-default disabled cast" data-spell="Ray of Frost" data-cost="3">Ray of Frost</a></p>
	<p><a href="#" class="btn btn-default disabled cast" data-spell="Infestation" data-cost="4">Infestation</a></p>
	<p><a href="#" class="btn btn-default disabled cast" data-spell="Toll the Dead" data-cost="5">Toll the Dead</a></p>
</div>