@model string

<div class="caster" id="caster-@Model">
	<div class="caster-photo">
		<img src="~/Content/Images/54933055.png" alt="" />
	</div>
	<div class="caster-label">
		<div class="caster-ac">
			<span class="Pajzs">
				<span class="PajzsLeft">
				</span>
				<span class="PajzsMiddle">
					13
				</span>
				<span class="PajzsRight">
				</span>
				<span class="PajzsBottom">
				</span>
			</span>
		</div>
		<div class="caster-name">
			<h2 class="player@(Model)">Player @Model</h2>
		</div>
		<div class="bar-container">
			<div class="bar health-bar" data-total="20" data-value="20">
				<div class="bar-inner">
					<div class="hit"></div>
				</div>
			</div>
			<div class="bar-number">
				<span class="curr-hp">20</span><span class="total-hp" data-hp="20">/20</span>
			</div>
		</div>
		<div class="bar-container">
			<div class="bar mana-bar" data-total="5" data-value="5">
				<div class="bar-inner">
					<div class="hit"></div>
				</div>
			</div>
			<div class="bar-number">
				<span class="curr-mana">5</span><span class="total-mana">/5</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>